@import './breakpoints';
@import './fonts';
@import './colors';

.close-btn {
        background-color: $tan;
        color: black;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        line-height: 18px;
    }
.details {
    
    .details__card {
        height: 100%;
        width: 100%;
        background-color: $smoke;
        border-radius: 5px;
        
        .details__fav-btn {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: $smoke;
            border: 1px solid black;
        }
        .details__fav-btn:hover {
            background-color: green;
            color: white;
        }
        
    }
    .details__card-segment {
            margin-bottom: 1rem;
            padding: .3rem;
            

            &-name {
                height: 100%;
                font-family: CinzelDecorative-Medium;
                font-size: 14px;
                line-height: 16px;
                color: inherit;
            }
            &-logo {
                width: 12rem;
                height: 5rem;
                padding: .5rem;
                border-radius: 5px;
            }

            &-address, &-hours, &-phone, &-website, &-email, &-payment, &-rank {
                font-family: Arvo-Regular;
                font-size: 12px;
                line-height: 14px;
            }
            
            &-website-url {
                text-decoration: underline;
            }

            &-url {
                font-family: Arvo-Regular;
                font-size: 12px;
                line-height: 14px;
                text-decoration: underline;
                border: none;
                background-color: $smoke;
            }

            &-description {
                font-family: Arvo-Regular;
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 1rem;
            }
        }
}
// end of mobile




// tablet
@include tablet {
    
    .details__fav-btn {
            margin: auto;
            font-family: Arvo-Regular;
            font-size: 16px;
            line-height: 18px;
    }

    .details__card-segment {
        display: flex;
        justify-content: space-between;
        margin: 1rem;
           
        // for some reason styling would not apply when using &-name
            .details__card-segment-name {
                height: 100%;
                font-size: 32px;
                line-height: 36px;
                color: inherit;
            }
            .details__card-segment-logo {
                width: 15rem;
                height: 7rem;
                border-radius: 5px;
                padding: 0;
            }
            
            .details__card-segment-address, .details__card-segment-hours, .details__card-segment-phone, .details__card-segment-website, .details__card-segment-email, .details__card-segment-payment, .details__card-segment-rank {
                height: 3rem;
                font-size: 18px;
                line-height: 24px;
            }
            
            .details__card-segment-description {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 1rem;
            }
        }
}



// desktop 
@include desktop {
    .close-btn {
        font-size: 24px;
        line-height: 32px;
    }
    .details__card {
        padding: 0 24px;
        
        .details__fav-btn {
            margin: auto;
            font-family: Arvo-Regular;
            font-size: 20px;
            line-height: 24px;
        }
        .details__card-segment {
            
            .details__card-segment-name {
                font-size: 36px;
                line-height: 40px;
                color: inherit;
            }
            .details__card-segment-logo {
                width: 20rem;
                height: 10rem;
                border-radius: 5px;
            }
    
            .details__card-segment-address, .details__card-segment-hours, .details__card-segment-phone, .details__card-segment-website, .details__card-segment-email, .details__card-segment-payment, .details__card-segment-rank {
                height: 3rem;
                font-size: 24px;
                line-height: 32px;
            }
                
            .details__card-segment-description {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 1rem;
            }
        }
    }
}