@font-face {
  font-family: "Apple-Butter";
  src: url("../assets/font/AppleButter.ttf");
    
}

@font-face {
  font-family: "Popsicle";
  src: url("../assets/font/KRPopsicle.ttf")
}

@font-face {
  font-family: "Another-Shabby";
  src: url("../assets/font/Anothershabby_pro_regular_v3_trial.ttf")
}

@font-face {
  font-family: "Breakfast";
  src: url("../assets/font/breakfastDEMO.otf")
}

@font-face {
  font-family: "Provo";
  src: url("../assets/font/Provokateur\ DEMO.otf")
}

@font-face {
  font-family: "Arvo-Regular";
  src: url("../assets/font/Arvo-Regular.ttf")
}

@font-face {
  font-family: "Arvo-Bold";
  src: url("../assets/font/Arvo-Bold.ttf")
}

@font-face {
  font-family: "CinzelDecorative-Regular";
  src: url("../assets/font/CinzelDecorative-Regular.ttf")
}

@font-face {
  font-family: "CinzelDecorative-Medium";
  src: url("../assets/font/CinzelDecorative-Bold.ttf")
}

@font-face {
  font-family: "CinzelDecorative-Bold";
  src: url("../assets/font/CinzelDecorative-Black.ttf")
}



// @mixin mobile-header {
//   font-size: 1.5rem;
//   line-height: 2rem;
//   font-family: AvenirBold;
// }