@import './breakpoints';
@import './fonts';


.select {
    margin: 0 16px;
}
.options__featured, .options__new, .options__all, .options__favorites {
    color: inherit;
    text-decoration: none;
}

.foodtrucks {
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    
    .foodtrucks__card {
        height: 100%;
        width: 100%;
        // width: 18rem;
        // height: 5rem;
        margin: 16px 0;
        border: 1px solid black;
        box-shadow: 5px 10px #888888;
        border-radius: 4px;
    }
    .foodtrucks__card-segment {
            display: flex;
            justify-content: space-between;
            height: 100%;
            padding-left: .5rem;
            padding-right: .5rem;
            

            a, &-name {
                font-family: Apple-Butter;
                font-size: 24px;
                line-height: 32px;
                // text-decoration: none;
                color: inherit;
            }
            &-logo {
                width: 5rem;
                height: 5rem;
                object-fit: cover;
                border-radius: 4px;
            }
            &-address {
                font-family: Provo;
                font-size: 12px;
                line-height: 14px;
            }
            &-hours {
                font-family: Provo;
                font-size: 12px;
                line-height: 14px;
                margin-left: 1rem;
            }
            &-description {
                font-family: Provo;
            }
        }
}
// end of mobile


// tablet
@include tablet {
    .select {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 8rem;
        margin-top: 2rem;

    }
    .foodtrucks {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}



// desktop 
@include desktop {
    .select {
        margin-left: 11.5rem;
        margin-right: 11.5rem;
        margin-bottom: 10rem;
        margin-top: 3rem;

    }

    .foodtrucks {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}