@import './breakpoints';
@import './fonts';

.foodtrucks__card-segment-logo {
    width: 100%;
}
.selected__marker-name {
    font-family: CinzelDecorative-Bold;
    font-size: 12px;
    line-height: 14px;
}

.marker__description, .marker__rank {
    font-family: Arvo-Regular;
    font-size: 12px;
    line-height: 14px;
}

.map {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
       
}
// end of mobile


@include tablet {
    .map {
        margin: 1.5rem;

        &__image {
        width: 35rem;
        height: 13rem;
        }

    }
}
// end of tablet


@include desktop {
    .selected__marker-name {
        font-size: 16px;
        line-height: 18px;
    }

    .marker__description, .marker__rank {
        font-size: 16px;
        line-height: 18px;
    }
    .map {
        margin-left: 11.25rem;
        margin-right: 11.25rem;


        &__image {
            margin-top: 5rem;
            margin-bottom: 5rem;
            width: 80rem;
            height: 20rem;
            }

    }
}