@import './breakpoints';
@import './colors';
@import './fonts';


.roulette {
    margin-top: 5rem;
    display: block;
    background-color: black;
    width: 100vw;
    height: 100vh;

    &__body-title {
        display: flex;
        justify-content: center;
        font-family: "Arvo-Bold";
        font-size: 24px;
        line-height: 32px;
        color: white;
    }

    .roulette__selected-list {
       
        a, &-0, &-1, &-2, &-3, &-4 {
            height: 3rem;
            width: 15rem;
            margin-bottom: 1rem;
            font-family: CinzelDecorative-Medium;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            text-decoration: none;
        }
        &-0{
            background-color: $smoke;
            

        }
        .roulette__selected-list-1 {
            background-color: #FBD1A2;
        }
        .roulette__selected-list-2 {
            background-color: #BED558;
        }
        .roulette__selected-list-3{
            background-color: #F76156;
        }
       .roulette__selected-list-4 {

            background-color: $tan;
        }
    }

}


// tablet
@include tablet {
    .roulette {
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &__body-title {
        margin-bottom: 3rem;
        font-size: 32px;
        line-height: 36px;
    }   
    
     .roulette__selected-list {
        

        a, &-0, &-1, &-2, &-3, &-4 {
            height: 5rem;
            width: 20rem;
            font-size: 24px;
            line-height: 32px;  
            text-decoration: none;
            margin-left: .5rem;
        }
     }
    }
}



// desktop
@include desktop {
    .roulette {
        justify-content: space-evenly;

        .roulette__body-title {
            font-size: 36px;
            line-height: 44px;
        }
    .roulette__selected-list {
       
        // &-0 does not apply the styling
         .roulette__selected-list-0, .roulette__selected-list-1, .roulette__selected-list-2, .roulette__selected-list-3, .roulette__selected-list-4 {
            
            height: 6rem;
            width: 30rem;
            text-decoration: none;
            display: flex;
        }
     }
        
    }

    
}

