@import './partials/breakpoints';
@import './partials/fonts';
@import './partials/header';
@import './partials/map';
@import './partials/foodtrucks';
@import './partials/details';
@import './partials/roulettes';
@import './partials/colors';
@import './partials/favoritedetails';


html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}