@font-face {
  font-family: "Apple-Butter";
  src: url("../assets/font/AppleButter.ttf");
}

@font-face {
  font-family: "Popsicle";
  src: url("../assets/font/KRPopsicle.ttf");
}

@font-face {
  font-family: "Another-Shabby";
  src: url("../assets/font/Anothershabby_pro_regular_v3_trial.ttf");
}

@font-face {
  font-family: "Breakfast";
  src: url("../assets/font/breakfastDEMO.otf");
}

@font-face {
  font-family: "Provo";
  src: url("../assets/font/Provokateur DEMO.otf");
}

.header {
  margin-left: 1rem;
  margin-right: 1rem;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-actual {
  width: 7rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1rem;
}

.header__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__line-person {
  width: 1.5rem;
  height: 1.8rem;
  border: none;
}

.header__line-distance {
  margin-top: .5rem;
  width: 14rem;
  height: 1rem;
  border: none;
}

.header__line-foodtruck {
  width: 2rem;
  height: 2rem;
  border: none;
}

@media only screen and (min-width: 768px) {
  .header {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .header__line-foodtruck {
    width: 3rem;
    height: 2.5rem;
  }
  .header__line-distance {
    width: 40rem;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    height: 100%;
  }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .header__logo-actual {
    width: 18rem;
    height: 100%;
    margin: 0;
  }
  .header__line-foodtruck {
    width: 3rem;
    height: 2.5rem;
    margin-right: 1rem;
  }
  .header__line-distance {
    width: 95vw;
  }
}

.map {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
}

@media only screen and (min-width: 768px) {
  .map {
    margin: 1.5rem;
  }
  .map__image {
    width: 35rem;
    height: 13rem;
  }
}

@media only screen and (min-width: 1440px) {
  .map {
    margin-left: 11.25rem;
    margin-right: 11.25rem;
  }
  .map__image {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 80rem;
    height: 20rem;
  }
}

@font-face {
  font-family: "Apple-Butter";
  src: url("../assets/font/AppleButter.ttf");
}

@font-face {
  font-family: "Popsicle";
  src: url("../assets/font/KRPopsicle.ttf");
}

@font-face {
  font-family: "Another-Shabby";
  src: url("../assets/font/Anothershabby_pro_regular_v3_trial.ttf");
}

@font-face {
  font-family: "Breakfast";
  src: url("../assets/font/breakfastDEMO.otf");
}

@font-face {
  font-family: "Provo";
  src: url("../assets/font/Provokateur DEMO.otf");
}

.select {
  margin: 0 16px;
}

.options__featured, .options__new, .options__all, .options__favorites {
  color: inherit;
  text-decoration: none;
}

.foodtrucks {
  height: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.foodtrucks .foodtrucks__card {
  height: 100%;
  width: 100%;
  margin: 16px 0;
  border: 1px solid black;
  -webkit-box-shadow: 5px 10px #888888;
          box-shadow: 5px 10px #888888;
  border-radius: 4px;
}

.foodtrucks .foodtrucks__card-segment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
}

.foodtrucks .foodtrucks__card-segment a, .foodtrucks .foodtrucks__card-segment-name {
  font-family: Apple-Butter;
  font-size: 24px;
  line-height: 32px;
  color: inherit;
}

.foodtrucks .foodtrucks__card-segment-logo {
  width: 5rem;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.foodtrucks .foodtrucks__card-segment-address {
  font-family: Provo;
  font-size: 12px;
  line-height: 14px;
}

.foodtrucks .foodtrucks__card-segment-hours {
  font-family: Provo;
  font-size: 12px;
  line-height: 14px;
  margin-left: 1rem;
}

.foodtrucks .foodtrucks__card-segment-description {
  font-family: Provo;
}

@media only screen and (min-width: 768px) {
  .select {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 8rem;
    margin-top: 2rem;
  }
  .foodtrucks {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 1440px) {
  .select {
    margin-left: 11.5rem;
    margin-right: 11.5rem;
    margin-bottom: 10rem;
    margin-top: 3rem;
  }
  .foodtrucks {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@font-face {
  font-family: "Apple-Butter";
  src: url("../assets/font/AppleButter.ttf");
}

@font-face {
  font-family: "Popsicle";
  src: url("../assets/font/KRPopsicle.ttf");
}

@font-face {
  font-family: "Another-Shabby";
  src: url("../assets/font/Anothershabby_pro_regular_v3_trial.ttf");
}

@font-face {
  font-family: "Breakfast";
  src: url("../assets/font/breakfastDEMO.otf");
}

@font-face {
  font-family: "Provo";
  src: url("../assets/font/Provokateur DEMO.otf");
}

.details {
  margin-left: 1rem;
  margin-right: 1rem;
}

.details .details__card {
  height: 100%;
  width: 100%;
}

.details .details__card-segment {
  margin-bottom: 1rem;
}

.details .details__card-segment-name {
  height: 100%;
  font-family: Apple-Butter;
  font-size: 14px;
  line-height: 16px;
  color: inherit;
}

.details .details__card-segment-logo {
  width: 10rem;
  height: 5rem;
  border-radius: 4px;
}

.details .details__card-segment-address, .details .details__card-segment-hours, .details .details__card-segment-phone, .details .details__card-segment-website, .details .details__card-segment-email, .details .details__card-segment-payment, .details .details__card-segment-rank {
  font-size: 12px;
  line-height: 14px;
}

.details .details__card-segment-description {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .details__card-segment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .details__card-segment-name {
    height: 100%;
    font-size: 32px;
    line-height: 36px;
    color: inherit;
  }
  .details__card-segment-logo {
    width: 5rem;
    height: 5rem;
    border-radius: 4px;
  }
  .details__card-segment-address {
    height: 3rem;
    font-size: 18px;
    line-height: 24px;
  }
  .details__card-segment-hours, .details__card-segment-phone, .details__card-segment-website, .details__card-segment-payment, .details__card-segment-rank {
    height: 3rem;
    font-size: 18px;
    line-height: 24px;
  }
  .details__card-segment-description {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 1rem;
  }
}

.roulette {
  display: block;
}

.roulette .roulette__output-result {
  border: 1px solid black;
}

.roulette .roulette__selected-list .roulette__selected-list-0 {
  height: 3rem;
  width: 5rem;
  background-color: #808000;
  margin-bottom: 1rem;
}

.roulette .roulette__selected-list .roulette__selected-list-1 {
  height: 3rem;
  width: 5rem;
  background-color: #FBD1A2;
  margin-bottom: 1rem;
}

.roulette .roulette__selected-list .roulette__selected-list-2 {
  height: 3rem;
  width: 5rem;
  background-color: #BED558;
  margin-bottom: 1rem;
}

.roulette .roulette__selected-list .roulette__selected-list-3 {
  height: 3rem;
  width: 5rem;
  background-color: #F76156;
  margin-bottom: 1rem;
}

.roulette .roulette__selected-list .roulette__selected-list-4 {
  height: 3rem;
  width: 5rem;
  background-color: #008080;
  margin-bottom: 1rem;
}

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/*# sourceMappingURL=main.css.map */